<a href="https://colab.research.google.com/github/unbrae/DataScience/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

dataSet = pd.read_csv('https://raw.githubusercontent.com/unbrae/DataScience/dataSets/working_hours_per_week.csv')

df = pd.DataFrame(dataSet)

df

                  country  1969  1970  1971  1972  ...  2012  2013  2014  2015  2016
0                   Aruba   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
1                 Albania   NaN   NaN   NaN   NaN  ...  40.9  38.0  38.8  39.6  40.3
2    United Arab Emirates   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3               Argentina   NaN   NaN   NaN   NaN  ...  39.0  38.4   NaN  42.9  37.7
4                 Armenia   NaN   NaN   NaN   NaN  ...  38.3  40.4  38.3  37.9   NaN
..                    ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
132               Vietnam   NaN   NaN   NaN   NaN  ...  40.9  40.4  40.9  41.3  40.3
133                 Samoa   NaN   NaN   NaN   NaN  ...   NaN  39.3   NaN   NaN   NaN
134                 Yemen   NaN   NaN   NaN   NaN  ...   NaN  41.5   NaN   NaN   NaN
135          South Africa   NaN   NaN   NaN   NaN  ...  43.4  43.4  43.4  43.3  43.0
136              Zimbabwe   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[137 rows x 49 columns]