<a href="https://colab.research.google.com/github/unbrae/DataScience/blob/main/trilha_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
install.packages("installr")
library(installr)
updateR()

version10

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in get.installed.R.folders():
“Could not find any R installation on your system. (You might have installed your R version on 'c:\R' without sub folders...”

ERROR: ignored

In [3]:
install.packages('devtools')
library(devtools)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: usethis

In [5]:
install.packages('tidyverse',dependencies = TRUE)
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘lazyeval’, ‘rex’, ‘covr’, ‘feather’


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [13]:
URL <- "http://ww2.amstat.org/sections/graphics/datasets/DataExpo2009.zip"
nomeArquivo <- "arquivo_baixado"

In [14]:
download.file(URL,nomeArquivo)

In [15]:
unzip(nomeArquivo)

In [21]:
voos2008 <- read_csv("DataExpo2009//2008.csv.bz2")

Rows: 7009728 Columns: 29

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): UniqueCarrier, TailNum, Origin, Dest, CancellationCode
dbl (24): Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, ...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [22]:
set.seed(42)

sampleDados <- sample_n(voos2008,100000)
str(sampleDados)

head(sampleDados$TailNum)

spec_tbl_df [100,000 × 29] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Year             : num [1:100000] 2008 2008 2008 2008 2008 ...
 $ Month            : num [1:100000] 6 8 8 2 6 6 8 10 3 5 ...
 $ DayofMonth       : num [1:100000] 26 7 12 10 17 22 18 28 29 31 ...
 $ DayOfWeek        : num [1:100000] 4 4 2 7 2 7 1 2 6 6 ...
 $ DepTime          : num [1:100000] 1156 1906 1513 245 940 ...
 $ CRSDepTime       : num [1:100000] 1133 1905 1345 2220 934 ...
 $ ArrTime          : num [1:100000] 1244 2004 1919 1009 1018 ...
 $ CRSArrTime       : num [1:100000] 1227 2010 1815 603 1019 ...
 $ UniqueCarrier    : chr [1:100000] "OO" "WN" "CO" "B6" ...
 $ FlightNum        : num [1:100000] 5841 2019 217 316 5742 ...
 $ TailNum          : chr [1:100000] "N913SW" "N212WN" "N69602" "N550JB" ...
 $ ActualElapsedTime: num [1:100000] 48 58 186 264 38 68 204 211 233 127 ...
 $ CRSElapsedTime   : num [1:100000] 54 65 210 283 45 75 227 205 230 127 ...
 $ AirTime          : num [1:100000] 33 52 151 245 24 46 189 194 216 109 ...
 $ ArrDelay         : num [1:100000] 17 -6 64 246 -1 -6 -25 3 -5 71 ...
 $ DepDelay         : num [1:100000] 23 1 88 265 6 1 -2 -3 -8 71 ...
 $ Origin           : chr [1:100000] "BMI" "OAK" "MSY" "SAN" ...
 $ Dest             : chr [1:100000] "ORD" "BUR" "EWR" "IAD" ...
 $ Distance         : num [1:100000] 116 325 1167 2253 86 ...
 $ TaxiIn           : num [1:100000] 5 2 16 3 4 5 6 3 6 5 ...
 $ TaxiOut          : num [1:100000] 10 4 19 16 10 17 9 14 11 13 ...
 $ Cancelled        : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr [1:100000] NA NA NA NA ...
 $ Diverted         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CarrierDelay     : num [1:100000] 0 NA 0 179 NA NA NA NA NA 71 ...
 $ WeatherDelay     : num [1:100000] 0 NA 0 0 NA NA NA NA NA 0 ...
 $ NASDelay         : num [1:100000] 0 NA 64 0 NA NA NA NA NA 0 ...
 $ SecurityDelay    : num [1:100000] 0 NA 0 0 NA NA NA NA NA 0 ...
 $ LateAircraftDelay: num [1:100000] 17 NA 0 67 NA NA NA NA NA 0 ...
 - attr(*, "spec")=
  .. cols(
  ..   Year = col_double(),
  ..   Month = col_double(),
  ..   DayofMonth = col_double(),
  ..   DayOfWeek = col_double(),
  ..   DepTime = col_double(),
  ..   CRSDepTime = col_double(),
  ..   ArrTime = col_double(),
  ..   CRSArrTime = col_double(),
  ..   UniqueCarrier = col_character(),
  ..   FlightNum = col_double(),
  ..   TailNum = col_character(),
  ..   ActualElapsedTime = col_double(),
  ..   CRSElapsedTime = col_double(),
  ..   AirTime = col_double(),
  ..   ArrDelay = col_double(),
  ..   DepDelay = col_double(),
  ..   Origin = col_character(),
  ..   Dest = col_character(),
  ..   Distance = col_double(),
  ..   TaxiIn = col_double(),
  ..   TaxiOut = col_double(),
  ..   Cancelled = col_double(),
  ..   CancellationCode = col_character(),
  ..   Diverted = col_double(),
  ..   CarrierDelay = col_double(),
  ..   WeatherDelay = col_double(),
  ..   NASDelay = col_double(),
  ..   SecurityDelay = col_double(),
  ..   LateAircraftDelay = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

[1] "N913SW" "N212WN" "N69602" "N550JB" "N284YV" "N305SW"

In [23]:
write_csv(sampleDados,'voos2008.csv')

***Variável = Descrição***
****
**Year** = 1987-2008

**Month** = 1-12

**DayOfMonth** = 1-31

**DayOfWeek** = 1 (segunda-feira) - 7 (domingo)

**DepTime** = Hora de partida real (local, hhmm)

**CRSDepTime** = Hora de partida programada (local, hhmm)

**ArrTime** = Hora de chegada real (local, hhmm)

**CRSArrTime** = Hora de chegada programada (local, hhmm)

**UniqueCarrier** = Código de operadora único

**FlightNum** = Número do voo

**TailNum** = Número da cauda do avião

**ActualElapsedTime** = Tempo real de voo em minutos

**CRSElapsedTime** = Tempo programado de voo em minutos

**AirTime** = Tempo de voo em minutos

**ArrDelay** = Atraso de chegada, em minutos

**DepDelay** = Atraso de partida, em minutos

**Origin** = Código de aeroporto IATA de origem

**Dest** = Código de aeroporto IATA de destino

**Distance** = Distância em milhas

**TaxiIn** = Tempo taxiando no pouso, em minutos

**TaxiOut** = Tempo taxiando na decolagem, em minutos

**Cancelled** = Voo foi cancelado?

**CancellationCode** = Motivo do cancelamento (A = operadora, B = clima, C = NAS, D = segurança)

**Diverted** = 1 = sim, 0 = não

**CarrierDelay** = Atraso da operadora em minutos

**WeatherDelay** = Atraso do clima em minutos

**NASDelay** = Atraso NAS em minutos

**SecurityDelay** = Atraso da segurança em minutos

**LateAircraftDelay** = Atraso da aeronave em minutos.

In [61]:
novoDataset <- voos2008 %>%

select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled)%>%
#filter(Month==9)

select(Month,DepDelay)%>%
group_by(Month)%>%
mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE))%>%
select(Month,atrasoMedio)%>%
unique()%>%
arrange(atrasoMedio)
#str(novoDataset)
#head(novoDataset)

In [62]:
voos2008 %>%
select(Month,DepDelay)%>%
group_by(Month)%>%
mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE))%>%
select(Month,atrasoMedio)%>%
unique()%>%
arrange(atrasoMedio)

   Month atrasoMedio
1  10     3.803488
2   9     3.961819
3  11     5.420469
4   5     7.642741
5   4     8.201133
6   8     9.614753
7   1    11.476096
8   7    11.807545
9   3    12.491269
10  6    13.609818
11  2    13.706226
12 12    17.304380